*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* as rule's css para está pagina seguem o padrão da página de cadastro; 
organização de hierarquia e algumas rule's se mantenhem praticamente iguais */

body{
    min-height: 100vh;
    background-image: url("../images/Whisperoftheheart.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 120px;
    height: 30px;
    color: #eaf1f8;
    background: rgba(19, 34, 49, 0.6); 
    border: 1px solid rgba(168,203,237,0.4);
    border-radius: 20px;
    transition: 0.3s ease;
    
}

button:hover{
    background: #2C4A63;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(168,203,237,0.6);
}

.login-Form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;

    border: solid 1px rgba(255,255,255,0.35);
    padding: 2rem;
    border-radius: 20px;
    background: rgba(15, 28, 46, 0.45);
    backdrop-filter: blur(3px);
}

.login-Form .validation-form,
.login-Form p{
    color: #eaf1f8;
}

.login-Form p{
    margin-bottom: 3rem;
}

.login-Form a{
    display: flex;
    justify-content: center;
    color: #A8CBED;
    transition: 0.3s ease;
}

.login-Form a:hover{
    color: #eaf1f8;
    text-shadow: 0 0 5px rgba(168,203,237,0.8);
}

.validation-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.validation-form button{
    align-self: center;
    width: 140px;
    margin-top: 1.5rem;
}

.input-fields{
    position: relative;
    width: 100%;
}

.input-fields input{
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    border-bottom: solid 1px rgba(234,241,248,0.6) ;
    color: #eaf1f8;
    outline: none;
    background: transparent;
}

.input-fields label{
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #eaf1f8;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-fields input:focus + label,
.input-fields input:not(:placeholder-shown) +label {
    top: 0;
    font-size: 0.75rem;
    color: #eaf1f8;
}

.input-fields input:focus{
    border-bottom: solid 1px #A8CBED;
}