*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url("../images/PorcoRossoNigthWallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 120px;
    height: 30px;
    color: #eaf1f8;
     background: rgba(19, 34, 49, 0.6); 
    border: 1px solid rgba(168,203,237,0.4);
    border-radius: 20px;
    transition: 0.3s ease;
}

button:hover{
    background: #2C4A63;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(168,203,237,0.6);
}

.SignUp-Form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;

    padding: 2rem;
    border-radius: 20px;
    background: rgba(15, 28, 46, 0.45);
    border: 1px solid rgba(255,255,255,0.35);
    backdrop-filter: blur(5px);
}


.SignUp-Form .registration-form,
.SignUp-Form p {
   color: #eaf1f8;
}

.registration-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.form-fields{
    position: relative;
    width: 100%;
}

.form-fields input{
    width: 100%;
    padding: 1rem 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(234,241,248,0.6);
    color: #eaf1f8;
    outline: none;
}

.form-fields label{
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #eaf1f8;
    pointer-events: none;
    transition: 0.3s ease;
}

.form-fields input:focus + label, 
.form-fields input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 0.75rem;
    color: #eaf1f8;
}

.form-fields input:focus{
    border-bottom: 1px solid #A8CBED;
}

.registration-form  button{
    align-self: center;
    margin-top: 1.5rem;
}
